<div class="body">
  <div class="calculator">
    <div class="formula">
      {{formula}}
    </div>
    <div class="display">
      {{result}}
    </div>
    <div class="evaluate">
      <button class="calButton jumbo" id="clear" (click) = "reset()" >AC</button>
      <button class="calButton oppButton" id="divide" (click) = "opperator('/')" >/</button>
      <button class="calButton oppButton" id="multiply" (click) = "opperator('*')" >*</button>
      <button class="calButton" id="7" (click) = "add('7')" >7</button>
      <button class="calButton" id="8" (click) = "add('8')" >8</button>
      <button class="calButton" id="9" (click) = "add('9')" >9</button>
      <button class="calButton oppButton" id="subtract" (click) = "opperator('-')" >-</button>
      <button class="calButton" id="4" (click) = "add('4')" >4</button>
      <button class="calButton" id="5" (click) = "add('5')" >5</button>
      <button class="calButton" id="6" (click) = "add('6')" >6</button>
      <button class="calButton oppButton" id="add" (click) = "opperator('+')" >+</button>
      <button class="calButton" id="1" (click) = "add('1')" >1</button>
      <button class="calButton" id="2" (click) = "add('2')" >2</button>
      <button class="calButton" id="3" (click) = "add('3')" >3</button>
      <button class="calButton jumbo" id="0" (click) = "add('0')" >0</button>
      <button class="calButton oppButton" id="." (click) = "add('.')" >.</button>
      <button class="calButton tall" id="=" (click) = "evaluate()" >=</button>
      
    </div>
  </div>
</div>